.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editor-container {
  border: 1px solid var(--bg-color-light-3);
  border-radius: 5px;
  overflow: hidden;
}

.editor-actions {
  padding: 5px 5px;
  display: flex;
  gap: 2px;
}

.editor-actions button {
  padding: 0;
  width: 35px;
}

.editor-actions button svg {
  width: 17px;
  height: 17px;
}

.editor-footer {
  align-self: flex-end;
  font-size: 0.8rem;
  opacity: 1;
}

.editor-footer--hide {
  opacity: 0;
}
