.container {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px 0px;
  overflow: auto;
  scrollbar-color: var(--bg-hover) var(--bg-color);
  scrollbar-width: thin;
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
