.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px 0px;
  overflow: auto;
  gap: 10px;
  scrollbar-color: var(--bg-hover) var(--bg-color);
  scrollbar-width: thin;
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
