.container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container p {
  font-size: 0.9rem;
  color: hsl(var(--muted-foreground));
}

.container button {
  padding: 0;
  padding-left: 5px;
}
