.sidebar {
  width: 70px;
  height: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 15px;
  background-color: var(--bg-color);
  overflow-y: auto;
  scrollbar-color: var(--bg-hover) var(--bg-color);
  scrollbar-width: thin;
}

.sidebar-space {
  flex: 1;
}

.sidebar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button__button {
  width: 40px;
  padding: 0;
}

.sidebar-button__button--active {
  background-color: var(--bg-hover);
}

.sidebar-button span {
  font-size: 0.7rem;
  color: var(--bg-light-color);
  cursor: default;
}

.sidebar-content-center {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: var(--bg-hover) var(--bg-color);
  scrollbar-width: thin;
  color: var(--bg-light-color);
}

.sidebar-content-header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-content-header-trigger {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.sidebar-content-header-trigger p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-content-header-trigger svg {
  width: 20px;
}

.sidebar-content-header-actions {
  display: flex;
  gap: 5px;
}

.sidebar-content-header-actions__edit {
  width: 35px;
  height: 35px;
  padding: 0;
}

.sidebar-content-header-actions__edit svg {
  width: 20px;
  height: 20px;
}
