.sidebar {
  width: 70px;
  height: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 15px;
  background-color: var(--bg-color);
}

.sidebar-space {
  flex: 1;
}

.sidebar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button__button {
  padding: 0;
  width: 40px;
}

.sidebar-button__button--active {
  background-color: var(--bg-hover);
}

.sidebar-button span {
  font-size: 0.8rem;
  color: var(--bg-light-color);
  cursor: default;
}
