.container-error {
  position: relative;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-error__close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 6px;
}

.container {
  width: 100%;
  height: calc(100dvh - 50px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

.thread-header {
  display: flex;
  flex-direction: column;
}

.thread-header__content {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread-header__content p {
  font-weight: bold;
}

.thread-header__content button {
  padding: 5px 6px;
}
