.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog-form__action {
  align-self: flex-end;
}

/* Invite People modal */

.dialog-invite-people-code {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dialog-invite-people-code p {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.dialog-invite-people-code button {
  display: flex;
  gap: 10px;
}

.dialog-invite-people-code button svg {
  width: 15px;
  height: 15px;
}

.dialog-invite-people-actions {
  display: flex;
  justify-content: space-between;
}

.dialog-invite-people-actions button:nth-child(1) {
  display: flex;
  gap: 10px;
}

.dialog-invite-people-actions button:nth-child(1) svg {
  width: 15px;
  height: 15px;
}
